.page {
  background: #f0f0f0;
  padding: 20px;
  margin: 10px;
}
.dropdowmenu{
  min-width: 200px
}
.dropdown-item-text{
  max-width: 80;
  font-size: 13.5px;
  padding-left: 8px;
  padding-right: 8px;
}

.new-campaign{
  
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
}